services:
    app:
        container_name: app-${PROJECT_NAME}
        build:
            context: ./
            dockerfile: ${PATH_TO_DOCKERFILE}
        volumes:
            - ./:/var/www/html:rw
            - ./docker/web/php.ini:/etc/php/8.2/fpm/conf.d/90-php.ini
            - ./docker/web/php.ini:/etc/php/8.2/cli/conf.d/90-php.ini
            - ./docker/web/logs/php:/var/log/php/:rw
            - ./docker/web/logs/nginx:/var/log/nginx/:rw
            - ./docker/web/logs/supervisor:/var/log/supervisor/:rw
            - ./docker/web/nginx.conf:/etc/nginx/sites-available/default
            - /var/run/docker.sock:/var/run/docker.sock:ro
            - ./docker/web/supervisord.conf:/etc/supervisord.conf
            - ./docker/web/nginx.conf:/etc/nginx.conf
        environment:
            TZ: ${PHP_DATE_TIMEZONE}
            PHP_MEMORY_LIMIT: ${PHP_MEMORY_LIMIT}
            PHP_POST_MAX_SIZE: ${PHP_POST_MAX_SIZE}
            PHP_MAX_FILE_UPLOADS: ${PHP_MAX_FILE_UPLOADS}
            PHP_UPLOAD_MAX_FILESIZE: ${PHP_UPLOAD_MAX_FILESIZE}
            PHP_MAX_INPUT_VARS: ${PHP_MAX_INPUT_VARS}
            PHP_MAX_EXECUTION_TIME: ${PHP_MAX_EXECUTION_TIME}
            ERROR_REPORTING: ${ERROR_REPORTING}
            PHP_DATE_TIMEZONE: ${PHP_DATE_TIMEZONE}
            PHP_LOG_ERRORS: ${PHP_LOG_ERRORS}
            PHP_LOG_ERRORS_MAX_LEN: ${PHP_LOG_ERRORS_MAX_LEN}
            OPCACHE_ENABLE: ${OPCACHE_ENABLE}
            OPCACHE_REVALIDATE_FREQ: ${OPCACHE_REVALIDATE_FREQ}
            OPCACHE_ENABLE_CLI: ${OPCACHE_ENABLE_CLI}
        ports:
            - ${NGINX_LOCAL_PORT}:80
        depends_on:
            - mysql
        extra_hosts:
            - "host.docker.internal:host-gateway"

    mysql:
        image: mysql:8.0
        container_name: mysql-${PROJECT_NAME}
        command:
            --collation-server=utf8_unicode_ci
            --init-connect='SET NAMES utf8'
            --character-set-server=utf8
            --default_time_zone="+03:00"
            --innodb_flush_method=O_DIRECT
            --transaction-isolation=READ-COMMITTED
            --innodb_buffer_pool_size=56M
            --innodb_strict_mode=OFF
        environment:
            TZ: ${PHP_DATE_TIMEZONE}
            MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
            MYSQL_DATABASE: ${MYSQL_DATABASE}
            MYSQL_USER: ${MYSQL_USER}
            MYSQL_PASSWORD: ${MYSQL_PASSWORD}
        expose:
            - 3306
        volumes:
            - ./docker/database/volume:/var/lib/mysql
            - ./docker/database/dump:/root/dump
        healthcheck:
            test: ["CMD", "mysql", "-u${MYSQL_USER}", "-p${MYSQL_PASSWORD}", "-e", "use ${MYSQL_DATABASE}; show tables;"]
            interval: 5s
            retries: 50

    phpmyadmin:
        image: phpmyadmin
        container_name: pma-${PROJECT_NAME}
        depends_on:
            - mysql
        ports:
            - ${PMA_PORT}:80
        environment:
            MYSQL_USER: ${MYSQL_USER}
            MYSQL_PASSWORD: ${MYSQL_PASSWORD}
            MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
            PMA_HOST: mysql